@import "tailwindcss";

* {
    font-family: 'Poppins';
}

#activestate {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
    opacity: 0.6;
    pointer-events: none;
}

.Jet {
    font-family: 'JetBrains Mono';
}

#weather-card {
    /* background: rgba(255, 255, 255, 0); */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.21);
}

#menu span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 2px solid black;
    transition: 0.2s all;
}

#close-icon span:first-child{
    position: absolute;
    content: '';
    width: 20px;
    border-radius: 5px; 
    height: 1.5px;
    top: 0;
    left: 0;
    /* transform: translateX(50%); */
    rotate: 45deg;
    background-color: black;
}
#close-icon span:last-child{
    position: absolute;
    content: '';
    width: 20px;
    border-radius: 5px; 
    height: 1.5px;
    top: 0;
    left: 0;
    /* transform: translateX(50%); */
    rotate: -45deg; 
    background-color: black;
} 
