@import "tailwindcss";

* {
    font-family: 'Poppins';
}

#activestate {
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
    opacity: 0.6;
    pointer-events: none;
}